# Labels cleaning

We got the labels from a csv file and now have to clean them up for later use of prediction. We will continue like the following: 
1. Delete the unimportent features
2. Build identifier columns for later reference
3. Change labels to phase columns

In [6]:
import numpy as np
import pandas as pd
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [7]:
abs_path = r'C:\Python\Projects\crystal-phase-prediction\crystal_data\overview.csv'
df = pd.read_csv(abs_path)
df

,Unnamed: 0,out.x,properly finished,tight,xc,k_grid,dipole moment x [e*A/f.u.],dipole moment y [e*A/f.u.],dipole moment z [e*A/f.u.],dipole moment magnitude [e*A/f.u.],...,crit. d_z,crit. d_perp,crit. d_tot,crit. dipole,crit. alpha,crit. beta,crit. gamma,crit. angles,crit. xrd,crit. overall
0,0,aims/HfO2_H3.1cat_222/LDA/H0/bulk/No14/out.x,True,True,pw-lda,222,-1.053023e-03,1.559891e-04,-3.925359e-04,1.134581e-03,...,True,True,True,True,True,True,True,True,True,True
1,1,aims/HfO2_H3.1cat_222/LDA/H0/bulk/No29/out.x,True,True,pw-lda,222,1.327897e-03,4.269531e-04,1.685235e-02,1.690998e-02,...,True,True,True,True,True,True,True,True,True,True
2,2,aims/HfO2_H3.1cat_222/LDA/H0/bulk/No61/out.x,True,True,pw-lda,222,-1.140677e-03,9.802625e-05,1.986781e-03,2.293044e-03,...,True,True,True,True,True,True,True,True,True,True
3,3,aims/HfO2_H3.1cat_222/LDA/H0/bulk/No137/out.x,True,True,pw-lda,222,1.455339e-03,1.477303e-03,1.455474e-03,2.533544e-03,...,True,True,True,True,True,True,True,True,True,True
4,4,aims/HfO2_H6.2cat_122/LDA/H0/bulk/No14/out.x,True,True,pw-lda,422,-2.465728e-03,5.593288e-04,-8.398456e-04,2.664208e-03,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3445,3445,aims/ZrO2_Yb6.2inter_212/LDA/iYb0/bulk/No61/out.x,True,True,pw-lda,242,-2.217137e-04,-6.508569e-04,-1.378781e-03,1.540717e-03,...,True,True,True,True,True,True,True,True,True,True
3446,3446,aims/ZrO2_Yb6.2inter_221/LDA/iYb0/bulk/No61/out.x,True,True,pw-lda,224,-5.192725e-04,-5.880031e-04,-1.458352e-03,1.655954e-03,...,True,True,True,True,True,True,True,True,True,True
3447,3447,aims/ZrO2_Yb6.2inter_122/LDA/iYb0/bulk/No137/o...,True,True,pw-lda,422,2.468468e-03,-1.427056e-04,-2.153531e-03,3.278931e-03,...,True,True,True,True,True,True,True,True,False,False
3448,3448,aims/ZrO2_Yb6.2inter_212/LDA/iYb0/bulk/No137/o...,True,True,pw-lda,242,4.875000e-08,1.187500e-08,-2.581250e-07,2.629564e-07,...,True,True,True,True,True,True,True,True,False,False
3449,3449,aims/ZrO2_Yb6.2inter_221/LDA/iYb0/bulk/No137/o...,True,True,pw-lda,224,2.905000e-06,1.447500e-06,2.988592e-03,2.988594e-03,...,True,True,True,True,True,True,True,True,False,False

In [8]:
# A lot of features that we dont need right now
list(df.columns)

['Unnamed: 0',
 'out.x',
 'properly finished',
 'tight',
 'xc',
 'k_grid',
 'dipole moment x [e*A/f.u.]',
 'dipole moment y [e*A/f.u.]',
 'dipole moment z [e*A/f.u.]',
 'dipole moment magnitude [e*A/f.u.]',
 'num atoms',
 'symbols',
 'symbols count',
 'Volume [A^3]',
 'a [A]',
 'b [A]',
 'c [A]',
 'alpha',
 'beta',
 'gamma',
 'Etot [eV]',
 'max force component [eV/A]',
 'phase',
 'host',
 'dopant',
 'dopants_species_number',
 'dopants_count',
 'num D',
 'num M',
 'num O',
 'sc',
 'dopant type',
 'f.u.',
 'concentration [f.u.%]',
 'a [sc]',
 'b [sc]',
 'c [sc]',
 'nominal f.u.',
 'nominal concentration [f.u.%]',
 'abc [sc]',
 'dopant group',
 'dopant period',
 'host, type',
 'dipole moment perp [e*A/f.u.]',
 'crit. d_x',
 'crit. d_y',
 'crit. d_z',
 'crit. d_perp',
 'crit. d_tot',
 'crit. dipole',
 'crit. alpha',
 'crit. beta',
 'crit. gamma',
 'crit. angles',
 'crit. xrd',
 'crit. overall']

In [9]:
# drop columns that we dont need 
clean_df = df[['dopant', 'host, type', 'nominal concentration [f.u.%]', 'abc [sc]', 'phase', 'crit. overall']].copy()
clean_df

,dopant,"host, type",nominal concentration [f.u.%],abc [sc],phase,crit. overall
0,H,"HfO2, cat",3.125,222,14,True
1,H,"HfO2, cat",3.125,222,29,True
2,H,"HfO2, cat",3.125,222,61,True
3,H,"HfO2, cat",3.125,222,137,True
4,H,"HfO2, cat",6.250,122,14,True
...,...,...,...,...,...,...
3445,Yb,"ZrO2, inter",6.250,212,61,True
3446,Yb,"ZrO2, inter",6.250,221,61,True
3447,Yb,"ZrO2, inter",6.250,122,137,False
3448,Yb,"ZrO2, inter",6.250,212,137,False
3449,Yb,"ZrO2, inter",6.250,221,137,False

In [11]:
# replacing the phase numbers with actual names
clean_df['phase'].replace({14:'m', 29:'p-o', 61:'o', 137:'t'}, inplace=True)
# print the number of phase changes in the overall dataset
print(clean_df['crit. overall'].value_counts())
clean_df

True     2913
False     537
Name: crit. overall, dtype: int64

,dopant,"host, type",nominal concentration [f.u.%],abc [sc],phase,crit. overall
0,H,"HfO2, cat",3.125,222,m,True
1,H,"HfO2, cat",3.125,222,p-o,True
2,H,"HfO2, cat",3.125,222,o,True
3,H,"HfO2, cat",3.125,222,t,True
4,H,"HfO2, cat",6.250,122,m,True
...,...,...,...,...,...,...
3445,Yb,"ZrO2, inter",6.250,212,o,True
3446,Yb,"ZrO2, inter",6.250,221,o,True
3447,Yb,"ZrO2, inter",6.250,122,t,False
3448,Yb,"ZrO2, inter",6.250,212,t,False
3449,Yb,"ZrO2, inter",6.250,221,t,False

In [14]:
# all columns except for crit. overall into on string collum as id
clean_df.dtypes

dopant                            object
host, type                        object
nominal concentration [f.u.%]    float64
abc [sc]                           int64
phase                             object
crit. overall                       bool
ID1                               object
dtype: object

In [15]:
clean_df['ID1'] = clean_df['dopant'].astype(str) + '_' + clean_df['host, type'].astype(str) + '_' + clean_df['nominal concentration [f.u.%]'].astype(str) + '_' + clean_df['abc [sc]'].astype(str) + '_' + clean_df['phase']

In [16]:
clean_df

,dopant,"host, type",nominal concentration [f.u.%],abc [sc],phase,crit. overall,ID1
0,H,"HfO2, cat",3.125,222,m,True,"H_HfO2, cat_3.125_222_m"
1,H,"HfO2, cat",3.125,222,p-o,True,"H_HfO2, cat_3.125_222_p-o"
2,H,"HfO2, cat",3.125,222,o,True,"H_HfO2, cat_3.125_222_o"
3,H,"HfO2, cat",3.125,222,t,True,"H_HfO2, cat_3.125_222_t"
4,H,"HfO2, cat",6.250,122,m,True,"H_HfO2, cat_6.25_122_m"
...,...,...,...,...,...,...,...
3445,Yb,"ZrO2, inter",6.250,212,o,True,"Yb_ZrO2, inter_6.25_212_o"
3446,Yb,"ZrO2, inter",6.250,221,o,True,"Yb_ZrO2, inter_6.25_221_o"
3447,Yb,"ZrO2, inter",6.250,122,t,False,"Yb_ZrO2, inter_6.25_122_t"
3448,Yb,"ZrO2, inter",6.250,212,t,False,"Yb_ZrO2, inter_6.25_212_t"
3449,Yb,"ZrO2, inter",6.250,221,t,False,"Yb_ZrO2, inter_6.25_221_t"

In [17]:
# drop all the used features
clean_df = clean_df[['ID1', 'crit. overall']].copy()
clean_df

                            ID1  crit. overall
0       H_HfO2, cat_3.125_222_m           True
1     H_HfO2, cat_3.125_222_p-o           True
2       H_HfO2, cat_3.125_222_o           True
3       H_HfO2, cat_3.125_222_t           True
4        H_HfO2, cat_6.25_122_m           True
...                         ...            ...
3445  Yb_ZrO2, inter_6.25_212_o           True
3446  Yb_ZrO2, inter_6.25_221_o           True
3447  Yb_ZrO2, inter_6.25_122_t          False
3448  Yb_ZrO2, inter_6.25_212_t          False
3449  Yb_ZrO2, inter_6.25_221_t          False

[3450 rows x 2 columns]

In [18]:
# clean the , in the ID column
clean_df['ID1'] = clean_df['ID1'].str.replace(', ', '_')
clean_df

                           ID1  crit. overall
0       H_HfO2_cat_3.125_222_m           True
1     H_HfO2_cat_3.125_222_p-o           True
2       H_HfO2_cat_3.125_222_o           True
3       H_HfO2_cat_3.125_222_t           True
4        H_HfO2_cat_6.25_122_m           True
...                        ...            ...
3445  Yb_ZrO2_inter_6.25_212_o           True
3446  Yb_ZrO2_inter_6.25_221_o           True
3447  Yb_ZrO2_inter_6.25_122_t          False
3448  Yb_ZrO2_inter_6.25_212_t          False
3449  Yb_ZrO2_inter_6.25_221_t          False

[3450 rows x 2 columns]

In [19]:
# change the column names 
clean_df = clean_df.rename(columns={'ID1':'ID', 'crit. overall':'labels'})
clean_df

                            ID  labels
0       H_HfO2_cat_3.125_222_m    True
1     H_HfO2_cat_3.125_222_p-o    True
2       H_HfO2_cat_3.125_222_o    True
3       H_HfO2_cat_3.125_222_t    True
4        H_HfO2_cat_6.25_122_m    True
...                        ...     ...
3445  Yb_ZrO2_inter_6.25_212_o    True
3446  Yb_ZrO2_inter_6.25_221_o    True
3447  Yb_ZrO2_inter_6.25_122_t   False
3448  Yb_ZrO2_inter_6.25_212_t   False
3449  Yb_ZrO2_inter_6.25_221_t   False

[3450 rows x 2 columns]

In [21]:
# sort the values in the same order, then the data is loaded from a windows directory
clean_df = clean_df.sort_values('ID')
clean_df.head(25)

                               ID  labels
2190      Ag_HfO2_cat_3.125_222_m    True
2192      Ag_HfO2_cat_3.125_222_o    True
2191    Ag_HfO2_cat_3.125_222_p-o    True
2193      Ag_HfO2_cat_3.125_222_t    True
2194       Ag_HfO2_cat_6.25_122_m    True
2197     Ag_HfO2_cat_6.25_122_p-o    True
2202       Ag_HfO2_cat_6.25_122_t   False
2195       Ag_HfO2_cat_6.25_212_m    True
2200       Ag_HfO2_cat_6.25_212_o    True
2198     Ag_HfO2_cat_6.25_212_p-o    True
2203       Ag_HfO2_cat_6.25_212_t   False
2196       Ag_HfO2_cat_6.25_221_m    True
2201       Ag_HfO2_cat_6.25_221_o    True
2199     Ag_HfO2_cat_6.25_221_p-o    True
2204       Ag_HfO2_cat_6.25_221_t   False
2205    Ag_HfO2_inter_3.125_222_m    True
2207    Ag_HfO2_inter_3.125_222_o    True
2206  Ag_HfO2_inter_3.125_222_p-o    True
2208    Ag_HfO2_inter_3.125_222_t    True
2209     Ag_HfO2_inter_6.25_122_m    True
2212   Ag_HfO2_inter_6.25_122_p-o    True
2217     Ag_HfO2_inter_6.25_122_t   False
2210     Ag_HfO2_inter_6.25_212_m    True
2215     Ag_HfO2_inter_6.25_212_o    True
2213   Ag_HfO2_inter_6.25_212_p-o    True

In [24]:
# reorder the index column
clean_df = clean_df.reset_index(drop=True)
clean_df

                              ID  labels
0        Ag_HfO2_cat_3.125_222_m    True
1        Ag_HfO2_cat_3.125_222_o    True
2      Ag_HfO2_cat_3.125_222_p-o    True
3        Ag_HfO2_cat_3.125_222_t    True
4         Ag_HfO2_cat_6.25_122_m    True
...                          ...     ...
3445    Zr_ZrO2_inter_6.25_212_t    True
3446    Zr_ZrO2_inter_6.25_221_m    True
3447    Zr_ZrO2_inter_6.25_221_o    True
3448  Zr_ZrO2_inter_6.25_221_p-o   False
3449    Zr_ZrO2_inter_6.25_221_t    True

[3450 rows x 2 columns]

In [27]:
clean_df['new_labels'] = clean_df['ID'].str.extract(r'([^_]+$)')

clean_df['new_labels'] = clean_df['new_labels'].replace({'m': '0', 'p-o':'1', 'o':'2', 't':'3'})
clean_df

                              ID  labels new_labels
0        Ag_HfO2_cat_3.125_222_m    True          0
1        Ag_HfO2_cat_3.125_222_o    True          2
2      Ag_HfO2_cat_3.125_222_p-o    True          1
3        Ag_HfO2_cat_3.125_222_t    True          3
4         Ag_HfO2_cat_6.25_122_m    True          0
...                          ...     ...        ...
3445    Zr_ZrO2_inter_6.25_212_t    True          3
3446    Zr_ZrO2_inter_6.25_221_m    True          0
3447    Zr_ZrO2_inter_6.25_221_o    True          2
3448  Zr_ZrO2_inter_6.25_221_p-o   False          1
3449    Zr_ZrO2_inter_6.25_221_t    True          3

[3450 rows x 3 columns]

In [34]:
# change the unknown phase in labels = False to 4 in new_labels
clean_df.loc[clean_df.labels == False, ['new_labels']] = 4
clean_df = clean_df.drop(columns = ['labels'])
clean_df

                              ID new_labels
0        Ag_HfO2_cat_3.125_222_m          0
1        Ag_HfO2_cat_3.125_222_o          2
2      Ag_HfO2_cat_3.125_222_p-o          1
3        Ag_HfO2_cat_3.125_222_t          3
4         Ag_HfO2_cat_6.25_122_m          0
...                          ...        ...
3445    Zr_ZrO2_inter_6.25_212_t          3
3446    Zr_ZrO2_inter_6.25_221_m          0
3447    Zr_ZrO2_inter_6.25_221_o          2
3448  Zr_ZrO2_inter_6.25_221_p-o          4
3449    Zr_ZrO2_inter_6.25_221_t          3

[3450 rows x 2 columns]

In [35]:
# path to save labels df 
import pathlib as path 
t_path = path.WindowsPath('C:\Python\Projects\Thesis\data_labels\labels_all.pkl')
clean_df.to_pickle(t_path)